section#arhi.arhi
 .arhi__wrapper
    .container-fluid
      .arhi__body.row
        .col-lg-6.arhi__item.arhi-item
          .ibg.bg
            img(src="assets/img/img-10.webp",alt="")
        .col-lg-6.arhi__item.arhi-item
          .arhi-item__body
            h2.common-Title Архитектоника
            .arhi-item__description Архитектоника – это специфический комплекс услуг для достижения правильных пропорций лица и устранения возрастных изменений кожи. Когда стоматолог или косметолог не могут найти ключ к решению какой-либо проблемы, им стоит объединить свои усилия. Для этого наша клиника предоставляет общие консультации двух специалистов, которые подберут правильные эстетические и лечебные процедуры. При этом косметолог решит проблемы с кожей, а стоматолог приведет в порядок ротовую полость.
            .arhi-item__button.popup__init
              button.btn.btn-primary.btn-primary-all.ml-auto.popup-init-js(type="button" rel="first-popup") Открыть видео



