//- подключаем везде
include ../utils/mixins

.container.bunner
  .bunner__body.row
    .bunner__discription.col-md-9.col-lg-8
      p Данный сайт является прототипом сайта по медицинской тематике. Сайт создан исключительно для демонстрации некоторых возможностей реализации отдельных блоков.
      .my-4
      p <strong>Здесь: </strong>
      p - адаптивный header
      p - слайдер с модальными окнами, каждое из которых содержит встроенный плеер. 
      p - видео youtube подгружается ajax, что ускоряет загрузку сайта
      p - скроллинг по пунктам меню, кнопка возврата наверх
      p - кнопка "Показать еще" - подгрузка карточек из внешнего файла через AJAX 
      p - несколько разновидностей табов
      p - форма с отправкой данных на сервер через AJAX запрос.  
      p в итоге - показатели pade speed
      .top-img
        .ibg.bg
          img(src="assets/img/img-top-2.webp",alt="")
      .top-img
        .ibg.bg
          img(src="assets/img/img-top-1.webp",alt="")


