//- подключаем везде
include ../utils/mixins

header#header.header
  .header__wrapper
    .container
      .header__body.row.no-gutters
        a(href="#!").header__logo
          img(src="assets/img/logo.svg",alt="img")
        ul.header__menu.header-menu.row.no-gutters#header__menu
          .header__menu_overlay
          i.header-close.fa.fa-times
          li.header-menu__item
            a.header-menu__link(href="#!") Преимущества
          li.header-menu__item 
            a.header-menu__link(href="#!") Продукт
          li.header-menu__item 
            a.header-menu__link(href="#!") Схема работы
          li.header-menu__item 
            a.header-menu__link(href="#!") О компании
        .header__service.header-service
          a(href="#!").header-service__phone.header-service-phone
            .header-service-phone__body
              .header-service-phone__img
                img(src="assets/img/header/call-1.svg",alt="img")  
              span +7 925 255-55-55
        img.header-burger(src="assets/img/header/burger.svg",alt="img")



