section#modaL.modaL
  .popup.first-popup
    .popup__overlay
      .popup__inner
        i.fa.fa-times.close-js
  - 
    slidesPopup = [
        {class: "slide-1-popup" , title: "попап  слайда 1  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea. "},
        {class: "slide-2-popup" , title: "попап  слайда 2"},
        {class: "slide-3-popup" , title: "попап  слайда 3"},
        {class: "slide-4-popup" , title: "попап  слайда 4"},
        {class: "slide-5-popup" , title: "попап  слайда 5"},
    ]
  each slide in slidesPopup
    div(class=['popup']  class=slide.class )
      .popup__overlay
        .popup__inner
          p=slide.title
          .fa.fa-times.close-js
















//- если попап используется на разных страницах можно делать попапы как миксины и инклудить этот файл на страницы с попапами. а заводить только те миксины которые есть на этой странице        


//- //- например так 
//- mixin meet-popup2()
//-   .board24_meet-popup2.board24_meet__popup
//-     .board24_meet__overlay
//-       .board24_meet__center.board24_jucc.board24_center.board24_island
//-         span.board24_cross.icon-close2.close-js
//-         .board24_meet__title.board24_ts-4 Вы хотите создать заседание самостоятельно, или дать поручение секретарю?
//-         .board24_meet__buttons.board24_jucc
//-           //- +button-empty("Создать поручение 

//- mixin meet-popup3()
//-   .board24_meet-popup3.board24_meet__popup 
//-     .board24_meet__overlay
//-       form.board24_middle-inter-5.board24_middle-inter.board24_middle-inter-2.board24_center.board24_island
//-         span.board24_cross.icon-close2.close-js

//- а потом на нужной странице с одним из попапов так вызывать миксины, которые есть только на этой странице
//- include ../../common/mixins
//- include ../../modals/modals
//- //- кнопка добавить из заседания
//- +meet-1__popup1
//- //- кнопка добавить из поручения
//- +meet-1__popup2
//- //- кнопка добавить новый вопрос
//- +meet-1__popup3
//- //- карандашик
//- +meet-1__popup4
//- //- синий текст справа статистики и комментарии по повестке
//- +meet-1__popup5
