section#top.top
  .top__wrapper
    .item.container-fluid
      .ibg.bg
        img(src="assets/img/dental-1.webp",alt="")
      .row.no-gutters
        include ./bunner
    section#nav.nav.container-fluid
      .nav__wrapper.row
        .container
          .nav__body.row.align-items-center
            .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
              .nav-item__body 
                button.btn.btn-primary.btn-primary-all.btn-primary-all_dark(type="button") расчитать стоимость
            .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
              .nav-item__body
                button.btn.btn-primary.btn-primary-all.btn-primary-all_dark.proba-item__button(type="button") получить консультацию
            .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
              .nav-item__body.d-flex.align-items-center
                .nav-item__icon
                  img(src="assets/img/Group9.svg",alt="img")
                .nav-item__text +7(495) 726-55-80
            .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
              .nav-item__body.d-flex.align-items-center
                .nav-item__icon
                  img(src="assets/img/Vector.svg",alt="img")
                .nav-item__text Москва, Ломоносовский проспект, 29 к 2
