section#work.work
 .work__wrapper
    .container
      .row
        h2.common-Title Как мы работаем
        ul.work__body
            - 
              items = [
                { title: "Комплексный подход ", description: "В клинике Dental&Beauty мы объединили   стоматологию и косметологию, чтобы сделать вас здоровыми, красивыми   и гармоничными.", img: "assets/img/work/img-14.svg "},
                { title: "новации в области медицины ", description: "Мы изучаем новые медецинские технологии и   выбираем для вас самые эффективные и премиальные.", img: "assets/img/work/img-16.svg "},
                { title: "Комплексный подход ", description: "Наши доктора работаютв индустрии больше 10 лет и им доверяют семьями.", img: "assets/img/work/img-11.svg "},
                { title: "стерильность", description: "Дезинфекция и контроль стерильности - наша главная забота.", img: "assets/img/work/img-17.svg "},
              ]

            each item in items
              li.work__item.work-item
                .work-item__body
                  img(src=item.img,alt="img").work-item__img
                  .work-item__title=item.title
                  .work-item__description=item.description 
        
        ul.addFiles
        .my-5
        .alert.alert-warning.w-100(role='alert')
          | Кнопка ниже открывает дополнительные карточки погружаем AJAX с внешнего файла, который лежит в корне. Поэтому AJAX достает его по GET запросу и без сервера.
        .col.text-center.after-posts
          button.btn.btn-outline-info.load-more(type='button') Показать еще
            span.spinner-border.text-primary(role='status')
             
