                      //- инпут из шапки
.header-service__search.col-xl-7
  input.search-input(type='text' placeholder="Поиск")



    //- плашка с заголовком белая
.bunner__info.bunner-info.col-md-6.col-lg-4
  .bunner-info__body
    .bunner-info__title Отбеливание зубов
    .bunner-info__text  Отбеливание зубов Phillips Zoom White Speed( Zoo-20000 вместо 27000
    a(href="#!").bunner-info__link  Подробнее
      i &#8594;

//- ryjgrf
button.btn.btn-primary.btn-primary-all(type="button") расчитать стоимость




//- кнопка темная
button.btn.btn-primary.btn-primary-all.proba-item__button(type="button") расчитать стоимость


//- иконка-справа текст
.nav-item
          .nav-item__body.d-flex.align-items-center
            .nav-item__icon
              img(src="assets/img/Group9.svg",alt="img")

//- для шип
.relative(style="width: 100%; padding: 0 0 20% 0	")