extends ../layout/main
block header
  include ../modules/header
block content
  //- include ../modules/top
  //- include ../modules/slider
  //- include ../modules/work
  //- include ../modules/tabs
  //- include ../modules/arhi
  //- include ../modules/contacts
block footer
  //- include ../modules/modal
  //- include ../modules/footer
  