
.top
  .top__wrapper
    min-height: 100vh
    padding: 70px 0 0 0
    +media-breakpoint-down(sm)
      padding: 50px 0 0 0
      min-height: 100vh
      height: auto
    +fdc
    +bg(#DAAC95)
  .item
    flex-grow: 1
    position: relative
    bg
      bottom: 0!important
      
  .container
    z-index: 2
  // .ban__wrapper
    // +pro
  .top-img
    position: relative
    width: 70%
    padding: 0 0 13% 0
    margin: 5px 0 
    @include media-breakpoint-down(md) 
      width: 100%
      padding: 0 0 19% 0
